*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 1rem auto 1rem;
}

label {

    margin: 10px;
}

input[type="number"]:invalid {
    border-color: red;
}

input[type="number"]:valid {
    border-color: green;
}

input[type="date"]:invalid {
    background-color: #ffdddd;
}

input[type="date"]:valid {
    background-color: #ddffdd;
}
